body, html {
  height: 100%;  
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden!important;
  
}
.img{
  width: 100%;
  height: 8rem;
}

a {
  text-decoration: none;
}
#page-not-found-error{
  padding:100px;
  color:red;
}
.containerr {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}
.ved{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.footer{
  background-color: #3b0f1c;
  color:yellow;
  width: 100%;
  height: auto; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
}
#homepage-image{  
  background-image: url(../src/Images/Main.png);   
  background-position: center;
  background-size: cover;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  color: yellow;

}
#ticketCard{
  margin-bottom: 100px;
}
#profile{
  margin: 40px;
  padding: 20px;
}


/* login for */
.MuiFormHelperText-root{
  color:red !important;
}
.HopageButton{
  color:yellow;
  background-color: transparent;
  margin-bottom: 2px;
  height: 30px;
  width: auto;
  padding: 2px;
  text-align: center;
  
}
.HopageButton:hover{
  border: 1px solid yellow;
  background-color: #3b0f1c;
  color:yellow;
}


